@import "tailwindcss";

@theme {
    --font-poppins: var(--font-poppins);
    --color-primary: #9333EA;

    --animate-ticker: ticker 15s linear infinite;
    @keyframes ticker {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-100%, 0, 0);
        }
    }

    --animate-leaf: leaf 360ms ease-out forwards;
    @keyframes leaf {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    --animate-leaf-branch: leaf-branch 1250ms linear forwards;
    @keyframes leaf-branch {
        to {
            stroke-dashoffset: 0;
        }
    }

    --animate-pushdown: pushdown 1s ease-in-out infinite;
    @keyframes pushdown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(5px);
        }
    }
}